<div class="container">
    <% include ../partials/header.ejs %>
    <header class="jumbotron">
        <div class="container">
            <h1>Portal</h1>
            <h4>Welcome to your Portal!</h4>
        </div>
    </header>
</div>



<% include ../partials/footer.ejs %>