<% include ../partials/header.ejs %>
<header class="jumbotron">
    <div class="container">
        <h1>Portal</h1>
        <h4>Welcome to your Portal!</h4>
        <div class="tileContainer">
            <a class="portalButton" href="/portal">First App</a>
            <a class="portalButton" href="/portal">Second App</a>
            <a class="portalButton" href="/portal">Third App</a>
            <a class="portalButton" href="/portal">Fourth App</a>
            <a class="portalButton" href="/portal">Fifth App</a>
            <a class="portalButton" href="/portal">Sixth App</a>
            <a class="portalButton" href="/portal">Seventh App</a>
            <a class="portalButton" href="/portal">Eighth App</a>
        </div>
    </div>
</header>
<% include ../partials/footer.ejs %>