<!DOCTYPE html> 
<html>
    <head>
        <title>Portal</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/styles.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,800' rel='stylesheet' type='text/css'>
    </head>
    <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" style="margin-right: 2rem;">Portal</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right" style="margin-top: .5rem">
                <% if (typeof(currentUser) === 'undefined') { %>
                    <% if (typeof(req) != 'undefined') { %>
                        <li><a href="#">Logged in as: <strong><%= req.user.username %></strong></a></li>
                    <% } %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Signup</a></li>
                <% } else { %>
                    <li><a href="#">Logged in as: <strong><%= currentUser.username %></strong></a></li>
                <% } %>
                <% if (typeof(currentUser) != 'undefined' && currentUser.userlevel == 'Administrator') { %>
                    <a style="padding: 4px 12px; margin-top: .8em" href="/admin" class="btn btn-sm btn-danger">Admin panel</a>
                <% } %>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
    </nav>

    <div class="container">
        <% if (error && error.length > 0) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if (success && success.length > 0) { %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>        
    </div>